body {
  /* Typography Declarations */
  color: #FF840D;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.masthead-intro {
  margin-bottom: 0.1em;
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 2em;
  
}

.masthead-heading {
  margin-top: -0.2em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}


.questions-section > h2 {
  /* Typography Declarations */
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 1.2em;
  font-weight: bold;
}

.introduction-section > p,
.location-section > p,
.content-footer > p {
  /* Typography Declarations */
  font-weight: 300;
  letter-spacing: 0.05em;
}

.masthead-intro,
.masthead-heading,
.content-footer {
  text-align: center
}

.masthead {
  padding: 6em 0;
}

.masthead-intro {
  margin-bottom: 0.1em;
}

.masthead-heading {
  margin-top: -0.2em;
}

.masthead {
  background-image: url('https://images.unsplash.com/photo-1450101215322-bf5cd27642fc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=3f46f8ce349be6232d8759a6c8416d37');
  background-repeat: no-repeat;
  background-size: cover;
  border-top: solid 1em #FF840D;
}

.introduction-section,
.location-section,
.questions-section {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
}

.content-footer {
  background-color: #FF840D;
  color: White;
  font-size: 20px;
  padding: .2em;
}

.social > li {
  display: inline-block;
  padding: .75em;
  font-size: 1.5em;
 
}

a {
  color: #8C4907;
  text-decoration: none;
}

.content-footer > p {
  color: white;
}